// Colors
$black: #2E2A25;
$white: #FFFFFF;
$primary: #7C003D;

$primary_dark: #610030;
$primary_medium: #940049;
$primary_light: #FFF0F7;

$secondary: #DCCAC4;
$secondary_medium: #F9EBE6;
$secondary_light: #F1F8FB;
$grey: #C9C8C7;

$light: #F9F9F9;
$medium: #888888;
$medium_dark: #666666;
$dark: #444444;

$success: #198754;
$warning: #FFCD39;
$error: #FF5252;
