.navList-item.is-selected {
  position: relative;

  & > svg {
    display: block;
  }

  .is-selected {
    &::before {
      z-index: 5;
      opacity: 0;
    }
  }
}

.navList-item > svg {
  display: none;
  position: absolute;
  top: 3px;
  cursor: pointer;
  z-index: 1;
}

.navList-action--checkbox {
  @include checkRadioBase();
  @include checkBox-base();
  margin-left: 10px;
  font-size: 16px;
  font-weight: normal;

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    top: 50%; // 1
  }

  &::before {
    margin-top: -$checkRadio-outerSize / 2;

    content: " ";
    display: inline-block;
    left: -10px;
    top: 11px;
    width: 24px;
    height: 24px;
    border-color: #43464e;
    border-radius: 0px;
  }

  &::after {
    margin-top: -$checkRadio-outerSize / 2 + remCalc(1);
    top: 10px;
    left: -10px;
    width: 24px;
    height: 24px;
    background-color: #ffc425;
    background-image: url(/assets/img/custom/CheckboxNew.svg);
    background-size: contain;
    background-origin: content-box;
    border-radius: 0px;
    opacity: 0 !important;
  }

  &:focus {
    @include checkRadioBase--focus();
  }

  &.is-disabled {
    @include checkRadioBase--disabled();
  }

  //&.is-checked,
  //&.is-selected {
  //  @include checkRadioBase--checked();
  //}

  &:checked {
    width: 50px;
    height: 50px;
    background-color: blue;
  }
}

.remove-all {
  text-decoration: underline;
  font-size: 15px;
  font-weight: 500;
  color: #1d1f22;
}

.longCustom-clearLink {
  text-decoration: underline;
  color: #1d1f22;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.17;
}
