.desktop-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &--background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(47, 36, 29);
    opacity: 0.8;
    z-index: -1;
  }
}

.desktop-navigation {
  position: relative;
  display: flex;
  width: 100vw;
  align-items: center;
  padding: 0 32px;
  justify-content: space-between;
  max-width: 1760px;
  margin: 0 auto;



  .desktop-navigation-list {
    display: flex;
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  .desktop-list {
    display: flex;
    list-style: none;
  }
}

.desktop-list {
  margin: 0;

  li {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  p {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.37;
    transition: color 250ms;
    &:hover {
      color: red;
      cursor: pointer;
    }
  }
}

.desktop-header-logo-image {
  width: 114px;
  height: 112px;
}

// link-section
.desktop-navigation-list {
  display: flex;
  margin: 0;
  justify-content: end;

  .desktop-navigation-item {
      #customSearchIcon {
          &>img {
            filter: brightness(0) invert(1);
          }
      }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

//   desktop-form

.form-input {
  height: 40px;
  width: 350px;
}

.desktop-wrapper-form {
  position: absolute;
  bottom: -40px;
  right: -1000px;
  transition: right 0.5s ease-in-out;

  &.active {
    align-items: center;
    justify-content: space-between;
    right: 0px;
    transition: right 0.5s ease-in-out;
  }

  .desktop-form-search {
    .form-input {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.desktop-serch-btn {
  position: absolute;
  outline: none;
  border-left: solid 1px #d3d4d8;
  right: 0px;
  bottom: 2px;
  width: 37px;
  height: 37px;
}

@media screen and (max-width: 1170px) {
  .desktop-list {
    li {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    p {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1120px) {
  .form-input {
    height: 30px;
  }

  .desktop-serch-btn {
    // width: 28px;
    height: 26px;
  }

  .desktop-header-logo-image {
    width: 100px;
    height: 100px;
  }

  .desktop-list {
    li {
      &:not(:last-child) {
        margin-right: 13px;
      }
    }

    p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 990px) {
  .desktop-navigation {
    height: 90px;
    padding: 26px;
  }

  .desktop-header-logo-image {
    width: 80px;
    height: 80px;
  }

  .form-input {
    height: 30px;
    width: 250px;
  }

  .desktop-list {
    li {
      &:not(:last-child) {
        margin-right: 7px;
      }
    }

    p {
      font-size: 15px;
    }
  }
}

.link-section {
  display: flex;
  position: relative;
  max-width: 350px;
}

// что бы не было видно
@media screen and (max-width: 800px) {
  .desktop-nav-container {
    display: none;
  }
}

a {
  text-decoration: none;
}


// DROP-MENU
.sub-menu {
  position: absolute;
  z-index: 5;
  background-color: white;
  transition: 0.3s linear;
  transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
  top: 110px;
  left: 0;
  padding: 0 20px;

  a {
    display: block;
    padding: 10px 20px;
    font-style: 16px;
  }

  .sub_menu_list {
    // display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        border-bottom: 1px solid white;

        &:hover {
          border-bottom: 1px solid #000;
        }
      }
    }

    &:first-child {
      display: flex;
    }
  }

  p {
    color: rgb(28, 28, 28);
    margin: 0;
    font-style: 16px;
  }

  li:hover & {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
  }

}

// НАЧАЛО подчеркивание при ховере

.menu_link {
  position: relative;
}
.menu_link:hover {
  color: #ffffff;
}

.menu_link:hover:after {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}

.menu_link:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -40px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}

// КОНЕЦ подчеркивание при ховере
.categori-list {
  display: flex;
  margin: 0;
  align-items: center;

  .categori-items {
    margin-right: 20px;
    list-style: none;
    position: relative;
    padding: 40px 0;
  }
    .categori-title {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 17.6px;
    line-height: 1.7;
    text-transform: uppercase;
  }
}



// second-sub-menu
.second-sub-menu {
  z-index: 99;
  width: 100%;
  background-color: #ffffff;
  transition: 0.3s linear;
  transform-origin: 0 0;

  .second-sub-link {
    display: block;
    padding: 10px 20px;
    font-style: 16px;
    p{
      color: rgb(28, 28, 28);
    }
  }

  .second-menu_list {
    list-style: none;
    margin: 0;
    padding: 0;

  }

  p {
    color: white;
  }


  .test:hover & {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
  }

}

.test {
  margin-right: 70px;
}

.wine2 {
  .sub-menu {
    .sub_menu_list{
      flex-direction: column;
    }
  }
}

.red2{
  .second-sub-menu{
 border: 1px solid rgb(221, 221, 221);
  position: absolute;
  top: 100px;
  z-index: 99;
  width: 100%;
  background-color: #ffffff;
  transition: 0.3s  ease-in-out;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  top: 0px;
  left: 90px;
  }
}


