.navigationMenu{
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // outline: solid tomato 2px;
    background-color: #2F241D;
}

.navigation-list {
margin: 0;   
display: flex;
justify-content: space-between;
align-items: center;

list-style: none;
    .navigation-img {
        width: 24px;
        height: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .navigation-item{
        margin-right: 24px;
    }
    .navigation-text {
        margin: 0;
        text-transform:uppercase;
        color: #FFFFFF;
    }
}




.header-logo-image-container {
    position: relative;
    width: 100%;

    @include breakpoint("medium") {
        min-height: get-height(stencilString("logo_size"));
    }
}

.header-logo-image {
    width: 51px;
    height: 54px;
}

.header-logo-image-container::after {
    content: "";
    display: block;
}





@media screen and (min-width: 800px) {

    .navigationMenu {
      display: none;
    }
  }




