@import "../../global/Colors";
@import "../../global/ScreenSizes";
@import "DesktopShopByCategory";

.mobile-category-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #91929d;
}

.slider-mobile {
  display: block;
  list-style: none;
}

.category-card-wrapper {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .mobile-slide {
    display: none;
  }
}

.category-item {
  // outline: solid tomato 2px;
  position: relative;
  margin-right: 13px;
  height: 111px;

  img {
    width: 86px;
    height: 86px;
  }
}

.categories-title {
  // outline: solid teal 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  bottom: 3px;

  white-space: nowrap;
  font-family: Playfair Display;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  text-align: center;
  color: #23263b;
}

@media screen and (max-width: 800px) {
  .categories-title {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 600px) {
  .categories-title {
    font-size: 14px;
    margin-bottom: 0;
  }
}
