<div class="car-banner-section">
    <div class="car-banner-wrapper">
        <div class="car-banner-wrapper--description">
            <h3 class="car-banner-title">It’s all about you</h3>
            <p class="car-banner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="car-banner-wrapper--empty"></div>
        <img class="car-banner-wrapper--banner" src="{{cdn 'img/custom/car.png'}}" alt="">
        <p class="car-banner-description-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

</div>
