<div class="release-banner-section">
    <div class="release-banner-wrapper">
        <img class="release-banner-wrapper--img" src="{{cdn '/img/custom/release.png'}}">

        <div class="release-banner-wrapper--description">
            <h3 class="release-title">
                NEW CREST BARRELL RELEASE
            </h3>
            <p class="release-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="release-button">
                SHOP
            </a>
        </div>
        <div class="release-banner-wrapper--image">
            <img src="{{cdn '/img/custom/barrell.png'}}" alt="release-banner">
        </div>
    </div>
</div>
